{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-react-jsx", { "pragma": "h" }],
    ["@grafoo/babel-plugin", { "schema": "schema.graphql", "idFields": ["id"] }],
    ["babel-plugin-emotion", { "sourceMap": true, "autoLabel": true }]
  ]
}
